body {
	background-color: #ececeb;
}

/*Header block*/

.header {
	background-color: #7ed310;
	color: #fbfcf9;
	text-align: center;
	padding-top: 163px;
	padding-bottom: 170px;
}

/*.header__logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}*/

.header__title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Arial Black", sans-serif;
	font-size: 97px;
	line-height: 1;
}

.header__subtitle {
	font-family: Arial, sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 35px;
	font-weight: 400;
}

/*Course short dexc with video and buy button*/
.course-description{

}

.course-description__logo-row{
	text-align: right;
	margin-right: 40px;
}

.course-description-buy{
	float: left;
	box-sizing: border-box;
	/*margin-right: 5%;*/
	padding: 0 25px;
}

.course-description-buy iframe{
	height: 400px;
	width: 100%;
}

.buy-button {
	border-style: solid;
	border-width: 5px;
	border-color: #79d206;
	color: #79d206;
	padding: 20px 80px;
}

.course-descriptionbuy__left{
	width: 60%;
}

.course-descriptionbuy__right{
	width: 40%;
}

/*Middle block*/
.program {
	background-color: #fffdfd;
	margin-left: 86px;
	margin-right: 86px;
	margin-top: 58px;
	border-style: solid;
	border-width: 1px;
	border-color: #777676;
	/*font-family: Arial;	*/
	padding: 30px 5%;
}
.program:after {
	content: '';
	clear: both;
	display: block;
}

.program__title {
	text-align: center;
	color: #79d206;
	font-size: 28px;
}

.program__column {
	/*display: inline-table;*/
	float: left;
	box-sizing: border-box;
	/*margin-right: 5%;*/
	width: 50%;
	padding: 0 25px;
}

.program__column-title {
	color: #79d206;
	font-size: 19px;
}

.program__column--left {
	/*margin-left: 5%;*/
	/*width: 42.5%;*/
}

.program__column--right {
	/*width: 42%;*/
}

/*Footer block*/

.footer {
	margin-top: 26px;
	height: 111px;
}

.footer__logo {
	width:100px;
	margin-left: 96px;
}

.footer__logo--left {
	display: inline-block;
	margin-left: 50px;
    margin-right: auto;
    float: left;
}

.footer__watermark {
	display: inline-block;
	margin-right: 80px;
	float: right;
	padding-top: 36px;
}

.footer__watermark p{
	text-align: center;
	font-style: Arial;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 1px;
}

.footer__watermark a{
	color: #79d206;
}
