body {
	background-color: #ececeb;
}

/*Header block*/

.header {
	background-color: #7ed310;
	color: #fbfcf9;
	text-align: center;
}

.header__logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.header__title {
	margin-top: 47px;
	margin-bottom: 11px;
	font-family: "Arial Black", sans-serif;
	font-size: 97px;
	line-height: 1;
}

.header__subtitle {
	font-family: Arial, sans-serif;
	margin-top: 0px;
	margin-bottom: 46px;
	padding-bottom: 25px;
	font-size: 35px;
}

/*Middle block*/
.program {
	background-color: #fffdfd;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: #777676
}

.program__title {
	text-align: center;
}

.program__column {
	display: inline-table;
	box-sizing: border-box;
	margin-right: 5%;
}

.program__column--left {
	margin-left: 5%;
	width: 42.5%;
}

.program__column--right {
	width: 42%;
}

/*Footer block*/

.footer {
	margin-top: 20px;
}

.footer__logo {
	width:100px;
}

.footer__logo--left {
	display: inline-block;
	margin-left: 50px;
    margin-right: auto;
    height: auto;
    float: left;
}

.footer__watermark {
	display: inline-block;
	margin-right: 5%;
	float: right;
}

.footer__watermark p{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 1px;
}
